MYSQL_ROOT_PASSWORD=root
MYSQL_USER=test
MYSQL_PASSWORD=test
MYSQL_DATABASE=test
MYSQL_HOSTNAME=db

# Django Settings
SECRET_KEY='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
DJANGO_HOSTNAME=tpay-stg.t-lab.cs.teu.ac.jp